html, body{
    background-color: white;
    font-family: Arial, sans-serif;
  }

  h2{
    font-family:sans-serif;
    color:#fff;
  }

  #brand-logo{
    margin-left:-10px;
    font-size: 1.3em;
  }

  .logo{
    margin-top: 20px;
   }
 
  
  /* .carousel{
    width:100%;
    height: 100%;
    position: relative; 
    overflow: hidden;
    margin:0px auto;
    object-fit: fill;
    padding:0px;
  } */
  /* .slick-slide{
    margin:0px;
  }
  .slick-slide img{
    width:100%;
    height: 100%;
    border-top: 2px solid #fff;
    
  } */

  .carousel {
    margin-bottom: 30px;
  }

  .home-row-1{
    margin:20px 10px;  height: 90vh;
  }

  .home-row-1 div, .home-row-2 div{
    height:100%;
  }

  .home-row-1 .content-1{
    height:100%;
  }

  .home-row-1 .content-2{
    height:48%;
  }

  .home-row-2{
    margin:10px; 
    height: 50vh;
  }

  .page-footer{
    margin-top:40px;
  }

  .footer-copyright, .footer-content{
    padding: 0px 20px;
    width: 100%;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .mobile-margin {
    margin-top: 10px;
  }


  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
     
  .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
  .fill img {
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
  }

.side-nav{
  background-color: black;
  color: white;
  overflow: hidden;
}

#mobile-demo a, #nav-dropdown{
  color: white;
  font-size: 19px;
}

#nav-dropdown{
  margin-left: 27px;
}
#mobile-demo li, #nav-dropdown{
  padding: 8px;
}

/* #no-padding li{
  padding: 0px;
} */

/* .side-nav li:hover, .side-nav ul li:hover {
  background-color: #ebebeb;
}

.side-nav li a:hover{
  color:#000;
} */

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}

.page-title{
  background-color: black;
  color: white;
  border-top: 1px solid #fff;
}

nav {
  height: 75px;
  line-height: 75px;
}


#sticky-sidebar {
  position:fixed;
  width: 22%;
  }

  #side-nav-close{
    padding:0px 20px;
  }