/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home-row-1 div, .home-row-2 div{
      margin-bottom: 20px;
    }

    .home-row-1{
        height: 600px;
    }


    .home-row-2 div{
        height: 300px;
    }

    #mobile-demo a, #nav-dropdown{
      font-size: 16px;
    }

    #mobile-demo li{
      padding: 10px;
    }

    #nav-dropdown{
      margin-left: 30px;
      padding:10px;
    }

    #side-nav-close{
      padding:20px 250px 20px 20px;
    }

    #arrow-down{
      padding-right: 250px;
    }

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .home-row-1{
        height: 800px;
    }

    .home-row-2{
        height: 300px;
    }

    #mobile-demo a, #nav-dropdown{
      font-size: 35px;
    }

    #mobile-demo li{
      padding: 30px;
    }

    #nav-dropdown{
      margin-left: 30px;
      padding:25px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */

  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
    #mobile-demo a, #nav-dropdown{
      font-size: 20px;
    }

    #mobile-demo li{
      padding: 10px;
    }

    #nav-dropdown{
      margin-left: 30px;
      padding:10px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .home-row-1{
        height: 900px;
    }

    .home-row-2{
        height: 400px;
    }
    #mobile-demo a, #nav-dropdown{
      font-size: 2em;
    }

    #mobile-demo li{
      padding: 5%;
    }

    #nav-dropdown{
      margin-left: 5%;
      padding:5%;
    }
  }