/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home-row-1 div, .home-row-2 div{
      margin-bottom: 20px;
    }

    .home-row-1{
        height: 600px;
    }


    .home-row-2 div{
        height: 300px;
    }

    #mobile-demo .menu-text{
      font-size: 1.3em;
    }

    #mobile-demo .menu-subtext{
      font-size: 1em;
      padding-left: 40px;
    }

    #mobile-demo li{
      padding: 2%;
    }

    #nav-dropdown{
      margin-left: 5%;
      padding:10px;
      font-size: 10em;
    }
    #side-nav-close{
      padding:20px 250px 20px 20px;
    }

    #arrow-down{
      padding-right: 250px;
    }

    .row .col {
      padding: 10px;
    }

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .home-row-1{
        height: 600px;
    }

    .home-row-2{
        height: 300px;
    }

    #mobile-demo .menu-text{
      font-size: 1.5em;
    }

    #mobile-demo .menu-subtext{
      font-size: 1.2em;
      padding-left: 40px;
    }

    #mobile-demo li{
      padding: 2%;
    }

    #nav-dropdown{
      margin-left: 5%;
      padding:10px;
      font-size: 10em;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */

  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
    #mobile-demo a, #nav-dropdown{
      font-size: 20px;
    }

    #mobile-demo li{
      padding: 10px;
    }

    #nav-dropdown{
      margin-left: 30px;
      padding:10px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .home-row-1{
        height: 650px;
    }

    .home-row-2{
        height: 400px;
    }

    #mobile-demo .menu-text{
      font-size: 1.3em;
    }

    #mobile-demo .menu-subtext{
      font-size: 1em;
      padding-left: 40px;
    }

    #mobile-demo li{
      padding: 1%;
    }

    #nav-dropdown{
      margin-left: 5%;
      padding:10px;
      font-size: 10em;
    }

    
  }